<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Marca | Quem-Somos</title>
  <!--css-styles-->
  <link href="../css/styles.css" rel="stylesheet">
  <!--css-quem-somos-->
  <link rel="stylesheet" href="../css/quem-somos.css">

  <!--icones-->
  <link href="../icons/css/all.min.css" rel="stylesheet">

  <!--FONTES-->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@200;300;400;600;700&display=swap" rel="stylesheet">

  <!-- lightbox -->
  <link rel="stylesheet" href="css/lightbox.css">
</head>

<body>
  <header>
    <div class="container">
      <div class="content">
        <div class="brand">
          <h1>Marca</h1>
        </div>
        <!--brand-->
        <nav>
          <ul>
            <li><a href="../index.html">Home</a></li>
            <li><a href="pages/quem-somos.html">Quem somos</a></li>
            <li><a href="pages/portfolio.html">Portfólio</a></li>
            <li><a href="pages/videos.html">Vídeos</a></li>
            <li><a href="pages/contato.html">Contato</a></li>
          </ul>
          <!--lista-de-navegation-->
        </nav>
        <!--navegation-layout-->
      </div>
      <!--content-->
    </div> <!-- container-->
  </header>

  <section id="banner-quem-somos">
    <div class="title-h1">
      <h1 class="h1-somos">
        Quem Somos
      </h1>
      <!--fora-do-container-->
    </div>
    <div class="container">
      <div class="content">
        <!--content-->
      </div>
      <!--container-->
  </section>
  <!--banner-->

  <section id="somos-marca">
    <div class="container">
      <div class="content">

        <div class="img-somos">
          <img src="../imagens/somos-marca.jpg" alt="somos-marca">
          <!--img-somos-marca-->
        </div>

        <div class="content-marca">
          <h2> <span><i class="fa-solid fa-heart"></i></span> Somos
            <span class="marca-cor"> Marca</span>
          </h2>
          <p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitu din, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odo Sed non mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad tora torquent per conubia nostra per inceptos himenaeos. Mauris in erat justo. Nullam ac urna eu felis dapibus condimentum sit amet a augue. Sed</p>
        </div>
      </div>
      <!--content-->
    </div>
    <!--container-->
  </section>
  <!--somos-marca-->

  <section id="nps">
    <div class="container">
      <div class="content">

        <div class="negocios topicos">
          <h2> <span><i class="fa-solid fa-handshake-simple"></i></span>
            Negócios
          </h2>
          <p>Proin gravida nibh vel velit auctor aliquet Amean sollicitudes, lorem quis bibendum auctor, nisi elit</p>
        </div>
        <!--negocios-->


        <div class="parceria topicos">
          <h2> <span> <i class="fa-solid fa-rotate"></i></span>
            Parceria
          </h2>
          <p>Proin gravida nibh vel velit auctor aliquet Amean sollicitudes, lorem quis bibendum auctor, nisi elit</p>
        </div>
        <!--parceria-->


        <div class="solucoes topicos">
          <h2> <span> <i class="fa-solid fa-puzzle-piece"></i></span>
            Soluções
          </h2>
          <p>Proin gravida nibh vel velit auctor aliquet Amean sollicitudes, lorem quis bibendum auctor, nisi elit</p>
        </div>
        <!--solucoes-->

      </div>
      <!--content-->
    </div>
    <!--container-->
  </section>
  <!--neg-par-sol-->

  <section id="nossa-equipe">
    <h3 class="h3-title"><span><i class="fa-solid fa-users"></i></span>
      Nossa Equipe
    </h3>
    <div class="container">
      <div class="content">


        <div class="time">
          <img src="../imagens/roberto-marca.jpg" alt="img-roberto">
          <h4>Roberto</h4>
          <p>Cargo do Roberto</p>
        </div>
        <!--roberto-->

        <div class="time">
          <img src="../imagens/mario-marca.jpg" alt="img-mario">
          <h4>Mário</h4>
          <p>Cargo do Mário</p>
        </div>
        <!--mario-->

        <div class="time">
          <img src="../imagens/maria-marca.jpg" alt="img-Maria">
          <h4>Maria</h4>
          <p>Cargo do Maria</p>
        </div>
        <!--maria-->

        <div class="time">
          <img src="../imagens/daniela-marca.jpg" alt="img-Daniela">
          <h4>Daniela</h4>
          <p>Cargo do Daniela</p>
        </div>
        <!--daniela-->

      </div>
      <!--content-->
    </div>
    <!--container-->
  </section>

  <footer>
    <div class="container">
      <div class="content">
        <div class="copyright">
          <p> 2022. Marca- Todos os direitos reservados</p>
        </div>
        <!--copiright-->
        <div class="social-media">
          <a href="#"><i class="fa-brands fa-instagram-square"></i></a>
          <a href="#"><i class="fa-brands fa-facebook-square"></i></a>
        </div>
        <!--social-media-->
      </div>
      <!--content-->
    </div>
    <!--container-->
  </footer>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="../js/lightbox.js"></script>
  <script>
    lightbox.option({
      'resizeDuration': 200,
      'showImageNumberLabel': true,
    })
  </script>


</body>

</html>